body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #33a05d;
    color: #fbff00;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #84bd8f; 
}
nav ul li a:active {
    background-color: #84bd8f;
}
nav ul li a:focus {
    outline: 2px solid #fafe83;
}
