body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    background-color: #33a05d;
    color: #fbff00;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #84bd8f; 
}
nav ul li a:active {
    background-color: #84bd8f;
}
nav ul li a:focus {
    outline: 2px solid #fafe83;
}
main {
    padding: 20px;
}
section img {
    max-width: 100%;
    height: auto;
}
form {
    max-width: 500px;
    margin: auto;
    padding: 70px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input, form textarea, form button {
    width: 100%;
    margin-bottom: 10px;
}
footer {
    background: #33a05d;
    color: #fff;
    text-align: center;
    padding: 0.5 vh ;
    position: fixed;
    bottom: 0;
    width: 100%;
}